.buttonn{
    text-align: center;
    width: 377px;
    background-color:rgb(243, 115, 36);
    border: none;

}
    

.mainnn {
    width:400px;
    justify-content:center;
    font-family: 'Baloo Bhai 2', cursive;
}
@media only screen and (max-width: 768px){
    .mainnn{
        width: 300px;
        margin-left: auto;
    }
    .buttonn{
        width: 277px;
    }
}
@media only screen and (max-width: 768px){
    .mainnn{
        width: 250px;
        margin-left: auto;
    }
    .buttonn{
        width: 227px;
    }
}